
body {
    font-family: "Open Sans", sans-serif;
    background-color: #1a191f;
    position: relative;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.header {
    padding: 30px 30px 0 30px;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 30px;
    color: #fff;
    text-decoration: none;
}

.header__logo:hover {
    color: #7c7c7c;
}

.header__search {
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
}

.movies {
    padding: 30px 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.movie {
    position: relative;
    width: 240px;
    height: 420px;   
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
}

.movie__cover {
    width: 100%;
    height: 350px;  
    border-radius: 10px;
    object-fit: cover;  
}

.movie__cover-inner {
    position: relative;
}

.movie__cover-darkened {
    background-color: #000;
    border-radius: 10px;
    opacity: 0.1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    height: 98.5%;
    z-index: 1;
}

.movie__cover-darkened:hover {
    background-color: gray;
    cursor: pointer;
}

.movie__info {
    padding: 10px 5px;
}

.movie__title {
    font-size: 16px;
    font-weight: normal;
    color: #fff;
    white-space: nowrap;      
    overflow: hidden;   
    text-overflow: ellipsis;
    display: block;            
    max-width: 100%;
}

.movie__category {
    margin-top: 5px;
    font-size: 14px;
    font-weight: normal;
    color: #ffd80e;
    white-space: nowrap;      
    overflow: hidden;   
    text-overflow: ellipsis;
    display: block;            
    max-width: 100%;
}

.movie__average {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 0;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a191f;
    color: #fff;
    font-size: 16px;
    font-weight: normal;
}

.movie__average-green {
    border: 1px solid green;
}

.movie__average-orange {
    border: 1px solid orange;
}

.movie__average-red {
    border: 1px solid red;
}

.modal {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
}

.modal__window {
    padding: 15px;
    width: 100vh;
    height: 80vh;
    border-radius: 10px;
    position: fixed;
    display: block;
    background: linear-gradient(135deg, #384261 0%, #2a2b2e 100%);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.modal__close {
    position: absolute;
    top: 10px;
    right: 20px;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 2em;
    cursor: pointer;
}

.modal__cover {
    display: block;
    margin: 20px auto;
    width: 250px;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
}

.modal__title {
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #e94560;
    margin: 10px 0;
}

.modal__info {
    list-style: none;
    padding: 15px 30px;
    margin: 25px 100px;
    background: rgba(255,255,255,0.05);
    border-left: 3px solid #e94560;
    border-radius: 5px;
}

.modal__ganre {
    font-weight: bold;
    color: #ffd80e;
}

.modal__website {
    margin-top: 10px;
    font-weight: bold;
    color: #fff;
}

.modal__website a {
    color: #4cc9f0;
    text-decoration: none;
    transition: color 0.3s;
}

.modal__website a:hover {
    color: #4895ef;
    text-decoration: underline;
}

.modal__overview {
    margin-top: 10px;
    color: #fff;
}